<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Card</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <h1>Bootstrap Card</h1>
    <br><br>
<!--    Example-->
    <div class="card" style="width: 18rem;">
        <img src="/images/muslim_warrior.png" class="card-img-top" alt="muslim warrior">
        <div class="card-body">
            <h5 class="card-title">Muslim Warrior</h5>
            <p class="card-text">Historical muslim warrior fighting with the sword represents a symbol of courage.</p>
            <a href="#" class="btn btn-primary">Click here</a>
        </div>
    </div>
    <br><br>

<!--    CONTENT TYPES-->
<!--    body-->
    <div class="card" >
        <div class="card-body">
            <p>This is some text within the card body.</p>
        </div>
    </div>

<!--    titles, text, and links-->

    <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card Subtitle</h6>
            <p class="card-text">Some Quick example of text for making a card title and subtitle</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

<!--    images-->
    <div class="card mt-5" style="width: 18rem;">
        <img src="/images/programming_game.png" class="card-img-top" alt="programming game">
        <div class="card-body">
            <p class="card-text">A Game designer making a 3d game.</p>
            <button class="btn btn-secondary">Smash</button>
        </div>
    </div>



















    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>


























    <script src="../js/bootstrap.bundle.js"></script>
</body>
</html>