<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Card</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<h1>Bootstrap Card</h1>
<br><br>
<!--    Example-->
<div class="card" style="width: 18rem;">
    <img src="/images/muslim_warrior.png" class="card-img-top" alt="muslim warrior">
    <div class="card-body">
        <h5 class="card-title">Muslim Warrior</h5>
        <p class="card-text">Historical muslim warrior fighting with the sword represents a symbol of courage.</p>
        <a href="#" class="btn btn-primary">Click here</a>
    </div>
</div>
<br><br>

<!--    CONTENT TYPES-->
<!--    body-->
<div class="card">
    <div class="card-body">
        <p>This is some text within the card body.</p>
    </div>
</div>

<!--    titles, text, and links-->

<div class="card mt-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card Subtitle</h6>
        <p class="card-text">Some Quick example of text for making a card title and subtitle</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

<!--    images-->
<div class="card mt-5" style="width: 18rem;">
    <img src="/images/programming_game.png" class="card-img-top" alt="programming game">
    <div class="card-body">
        <p class="card-text">A Game designer making a 3d game.</p>
        <button class="btn btn-secondary">Smash</button>
    </div>
</div>


<!--    list groups-->
<div class="mt-5 card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">List item one</li>
        <li class="list-group-item">List item two</li>
        <li class="list-group-item">List item three</li>
    </ul>
</div>

<div class="mt-5 card" style="width: 18rem;">
    <div class="card-header">Featured</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">List item one</li>
        <li class="list-group-item">List item two</li>
        <li class="list-group-item">List item three</li>
    </ul>
    <div class="card-footer">
        Card footer
    </div>
</div>


<!--    Kitchen sink-->
<div class="mt-5 card" style="width:18rem">
    <img src="/images/bird.png" alt="bird image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A Third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">link 1</a>
        <a href="#" class="card-link">link 2</a>
    </div>
</div>

<!--    header and footer-->
<div class="mt-5 card" style="width: 18rem;">
    <div class="card-header">Featured</div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go Somewhere</a>
    </div>
</div>

<!--    blockquote-->
<div class="mt-5 card">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>A well known quote contained in block quote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="source title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>

<!--    using grid-->
<div class="row">
    <div class="col-sm-6">
        <div class="mt-5 card" style="width: 18rem;">
            <img src="/images/programming_game.png" class="card-img-top" alt="programming game">
            <div class="card-body">
                <h5 class="card-title">A Game Programmer</h5>
                <p class="card-text">A programmer making a 3d game, represents focus determination and willing to
                    success.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="mt-5 card" style="width: 18rem;">
            <img src="/images/muslim_warrior.png" class="card-img-top" alt="muslim warrior">
            <div class="card-body">
                <h5 class="card-title">Muslim Warrior</h5>
                <p class="card-text">Historical muslim warrior fighting with the sword represents a symbol of
                    courage.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>
</div>

<!--        image overlays-->
<div class="mt-5 card bg-dark text-white" style="width: 32rem;">
    <div>
        <div class="d-flex align-items-center">
            <img src="/images/bg-pattern-quotation.svg" class="card-img" alt="programming game">
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
</div>

<!-- Horizontal Card with Full-Height Image -->
<div class="card mt-5" style="width: 540px; height: 200px;">
    <div class="row g-0 h-100">
        <!-- Image Column -->
        <div class="col-sm-4 h-100">
            <img src="/images/programming_game.png" alt="programming game"
                 class="img-fluid rounded-start h-100 w-100"
                 style="object-fit: cover;">
        </div>

        <!-- Content Column -->
        <div class="col-sm-8">
            <div class="card-body">
                <h5 class="card-title">Game Developer</h5>
                <p class="card-text">A game designer making a 3D game resembles determination and art.</p>
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>
</div>

<!--    card style-->
<div class="card text-white bg-primary mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>

<div class="card text-white bg-secondary mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>
<div class="card text-white bg-success mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>

<div class="card text-white bg-danger mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>
<div class="card text-white bg-warning mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>

<div class="card text-white bg-info mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>
<div class="card text-dark bg-ligh mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn btn-dark">Smash it</a>
    </div>
</div>

<div class="card text-white bg-dark mt-3" style="width: 18rem;">
    <div class="card-header">Card Header</div>
    <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-muted">card example</p>
        <a href="#" class="btn bg-light">Smash it</a>
    </div>
</div>

    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>


    <script src="../js/bootstrap.bundle.js"></script>
</body>
</html>