<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List-group</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
  <h1>List Group</h1>

<!--  Basic example-->
  <ul class="mt-5 list-group">
    <li class="list-group-item">item 1</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>


<!--  Active items-->
    <ul class="mt-5 list-group">
      <li class="list-group-item active" aria-current="true">item 1</li>
      <li class="list-group-item">item 2</li>
      <li class="list-group-item">item 3</li>
      <li class="list-group-item">item 4</li>
      <li class="list-group-item">item 5</li>
    </ul>

<!--  disabled items-->
  <ul class="mt-5 list-group">
    <li class="list-group-item disabled">This item is disabled.</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>


<!--  link and buttons-->
  <ul class="mt-5 list-group">
    <a href="#" class="list-group-item list-group-item-action active">link item 1</a>
    <a href="#" class="list-group-item list-group-item-action">link item 2</a>
    <a href="#" class="list-group-item list-group-item-action">link item 3</a>
    <a href="#" class="list-group-item list-group-item-action">link item 4</a>
    <a href="#" class="list-group-item list-group-item-action">link item 5</a>
  </ul>

<!--  Flush-->
<!--  Add .list-group-flush to remove some borders and rounded corners to render list group items edge-to-edge in a parent container (e.g., cards).-->
  <ul class="mt-5 list-group list-group-flush">
    <li class="list-group-item" aria-current="true">item 1</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>

<!--  Numbered-->
  <ul class="mt-5 list-group list-group-numbered">
    <li class="list-group-item" aria-current="true">item 1</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>

  <ol class="mt-5 list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <span class="badge bg-primary rounded-pill">11</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <span class="badge bg-primary rounded-pill">11</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <span class="badge bg-primary rounded-pill">11</span>
    </li>
  </ol>


<!--  custom content-->
  <div class="mt-5 list-group list-group-horizontal-md">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content for paragraph</p>
      <small>some small print</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content for paragraph</p>
      <small>some small print</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content for paragraph</p>
      <small>some small print</small>
    </a>
  </div>

<!--  checkbox-->
  <ul class="list-group mt-5">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      First checkbox
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Second checkbox
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Third checkbox
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Fourth checkbox
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Fifth checkbox
    </li>
  </ul>

<!--  radios-->
 <ul class="list-group mt-5">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="" aria-label="...">
      First checkbox
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="" aria-label="...">
      Second radio
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="" aria-label="...">
      Third radio
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="" aria-label="...">
      Fourth radio
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="radio" value="" aria-label="...">
      Fifth radio
    </li>
  </ul>




<br><br><br><br><br><br><br><br><br><br><br><br>

<script src="../js/bootstrap.js"></script>
</body>
</html>

