<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List-group</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
  <h1>List Group</h1>

<!--  Basic example-->
  <ul class="mt-5 list-group">
    <li class="list-group-item">item 1</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>


<!--  Active items-->
    <ul class="mt-5 list-group">
      <li class="list-group-item active" aria-current="true">item 1</li>
      <li class="list-group-item">item 2</li>
      <li class="list-group-item">item 3</li>
      <li class="list-group-item">item 4</li>
      <li class="list-group-item">item 5</li>
    </ul>

<!--  disabled items-->
  <ul class="mt-5 list-group">
    <li class="list-group-item disabled">This item is disabled.</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>


<!--  link and buttons-->
  <ul class="mt-5 list-group">
    <a href="#" class="list-group-item list-group-item-action active">link item 1</a>
    <a href="#" class="list-group-item list-group-item-action">link item 2</a>
    <a href="#" class="list-group-item list-group-item-action">link item 3</a>
    <a href="#" class="list-group-item list-group-item-action">link item 4</a>
    <a href="#" class="list-group-item list-group-item-action">link item 5</a>
  </ul>

<!--  Flush-->
<!--  Add .list-group-flush to remove some borders and rounded corners to render list group items edge-to-edge in a parent container (e.g., cards).-->
  <ul class="mt-5 list-group list-group-flush">
    <li class="list-group-item" aria-current="true">item 1</li>
    <li class="list-group-item">item 2</li>
    <li class="list-group-item">item 3</li>
    <li class="list-group-item">item 4</li>
    <li class="list-group-item">item 5</li>
  </ul>





















<script src="../js/bootstrap.js"></script>
</body>
</html>

